<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 最新：利用本地js -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- 多平台显示 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>重 置 密 码</title>
    <meta name="description" content="LETOO'S QUESTIONBOX">
    <!-- <!-- Bootstrap CSS 本地引用-->
   <!-- 引入外部文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <!-- 补充 -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/login.min.css" th:href="@{/css/login.min.css}" rel="stylesheet" />
    <link href="../static/css/ry-ui.css" th:href="@{/css/ry-ui.css?v=4.2.0}" rel="stylesheet" />

    <!-- 360浏览器急速模式 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}" />

</head>

<body>

    <body class="signin">
        <div class="signinpanel">
            <div class="row">
                <div class="col-sm-4">
                    <div class="signin-info">
                        <div class="logopanel m-b">
                            <h1><img alt="[提问箱 ]" src="../static/hhh.png" th:src="@{/hhh.png}"></h1>
                        </div>
                        <div class="m-b"></div>
                        <h4>欢 迎 使 用 <strong>提 问 箱</strong></h4>
                        <ul class="m-b">
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> SpringBoot</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Mybatis</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Shiro</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Thymeleaf</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Bootstrap</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 爆肝ing</li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-7">
                    <form id="resetForm" autocomplete="on">
                        <h4 class="no-margins">重 置 密 码：</h4>
                        <br>
                        <p class="m-t-md">Memento mori</p>

                        <label for="password1" class="sr-only">新的密码</label>
                        <input name="password1" id="password1" type="password" class="form-control uname"
                            placeholder="请输入新密码" />
                        <label for="password2" class="sr-only">新的密码</label>
                        <input  name="password2" id="password2" type="password" class="form-control uname"
                            placeholder="请再次输入新密码" />
                        <div id="erro"></div>
                        <div class="col-sm-8 mx-5 px-2">
                            <button class="btn btn-success btn-block">重 置 密 码</button>
                        </div>
                    </form>


                </div>
            </div>
            <div class="signup-footer">
                <div class="pull-left">
                    &copy; 2020 All Rights Reserved. Letoo <br>
                </div>
            </div>
        </div>


        <!----------------------------------------------------------------------------------- -->
        <!-- text-muted: 柔和色
        添加版权 -->
        <!-- <footer class="text-center text-muted py-4">
        Copyright @Letoo 2020-05
    </footer>
 -->
        <!-- 验证插件 -->
        <script src="../static/ajax/libs/validate/jquery.validate.min.js"
            th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
        <script src="../static/ajax/libs/validate/messages_zh.min.js"
            th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
        <script src="../static/ajax/libs/layer/layer.js" th:src="@{/ajax/libs/layer/layer.js}"></script>
        <script src="../static/ajax/libs/blockUI/jquery.blockUI.js"
            th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
        <script src="../static//js/rrr/ry-ui.js" th:src="@{/js/rrr/ry-ui.js?v=4.2.0}"></script>
        <script src="../static/ajax/libs/validate/additional-methods.min.js"
            th:src="@{/ajax/libs/validate/additional-methods.min.js}"></script>

        <script type="text/javascript">
      
            $(function () { 
                validateRule();

            });
            function GetQueryString(name) {
            	var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
            	var r = window.location.search.substr(1).match(reg);
            	if (r!=null) return (r[2]); return null;
            	}
            	 
           
            function resetPasswordForm() {
            	var sname = GetQueryString("mailCode");
              	if(sname!=null)
              	{
              		var sname_ = decodeURIComponent(sname);
              		alert(sname_);
              		}
                var password1 = $('#password1').val();
                $.ajax({
                    url: encodeURI("/user/resetPasswordForm"),
                    type: "post",  //请求的方法
                    cache: false, //去除缓存
                    async: false,  //async:false同步。true异步方式
                    dataType: "json",  //指定响应得到的数据类型：【“list”必须严格为一个json数据！】
                    data: {  //data:$(form).serialize(),
                        "password1": password1,
                      	"mailCode": decodeURIComponent(sname)
                    },
                    success: function (result) {
                        if (result.code == 200) { //修改成功
                            //layer.msg("密码修改成功");
                            alert("密码修改成功");
                            window.location.href = "/login";	
                        } else if (result.code == 500) {
                            layer.msg("密码修改失败！");
                            //alert("密码修改失败！");
                        }
                    },
                    error: function () {
                        alert(".......页面出错了.......");
                    }
                });
            }

            jQuery.validator.setDefaults({
                // 仅做校验，不提交表单
                debug: true,
                // 提交表单时做校验
                onfocusin: true,
                onsubmit: true,
                // 焦点自动定位到第一个无效元素
                focusInvalid: true,
                // 元素获取焦点时清除错误信息
                focusCleanup: false,   //true
                //忽略 class="ignore" 的项不做校验
                ignore: ".ignore",
                // 忽略title属性的错误提示信息
                ignoreTitle: true,
                // 为错误信息提醒元素的 class 属性增加 invalid 
                errorClass: "invalid",
                // 为通过校验的元素的 class 属性增加 valid 
                validClass: "valid",
                // 使用 <em> 元素进行错误提醒
                errorElement: "em",
                // 使用 <li> 元素包装错误提醒元素
                wrapper: "li",
                // 将错误提醒元素统一添加到指定元素
                //errorLabelContainer: "#error_messages ul",
                // 自定义错误容器
                errorContainer: "#error_messages, #error_container",
                // 自定义错误提示如何展示
                showErrors: function (errorMap, errorList) {
                    $("#error_tips").html("Your form contains " + this.numberOfInvalids() + " errors, see details below.");
                    this.defaultShowErrors();
                },
                // 自定义错误提示位置
                errorPlacement: function (error, element) {
                    error.insertAfter(element);
                    },
                // 单个元素校验通过后处理
                success: function (label, element) {
                    console.log(label);
                    console.log(element);
                    label.addClass("valid").text("Ok!");
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass(errorClass).removeClass(validClass);
                    $(element.form).find("label[for=" + element.id + "]").addClass(errorClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass(errorClass).addClass(validClass);
                    $(element.form).find("label[for=" + element.id + "]").removeClass(errorClass);
                },
                //校验通过后的回调，可用来提交表单~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                submitHandler: function(form, event) {
                    resetPasswordForm();
                },
                //校验未通过后的回调
                invalidHandler: function (event, validator) {
                    // 'this' refers to the form
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1 ? 'You missed 1 field. It has been highlighted' : 'You missed ' + errors + ' fields. They have been highlighted';
                        console.log(message);
                    }
                }
            });

            function validateRule() {
                $("#resetForm").validate({
                    rules: {
                        password1: {
                            required: true,
                            minlength: 6,
                            maxlength: 25
                        },
                        password2: {
                            required: true,
                            equalTo: "#password1"
                        },
                    },
                    //自定义错误提示信息
                    messages: {
                        password1: {
                            required: "请输入您的密码",
                        },
                        password2: {
                            required: "请再次输入您的密码",
                            equalTo: "两次密码输入不一致"
                        },
                    },
                });
            }


        </script>


    </body>

</html>