<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 最新：利用本地js -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- 多平台显示 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>重置密码邮箱验证</title>
    <meta name="description" content="LETOO'S QUESTIONBOX">
    <!-- Bootstrap CSS 本地引用-->
    <link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">
    <!-- <link rel="stylesheet" th:href="@{css/bootstrap.css}"> -->
    <script th:src="@{webjars/jquery/3.4.0/jquery.js}"></script>
    <script th:src="@{others/popper-1.16.1.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>

    <!-- 补充 -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/login.min.css" th:href="@{/css/login.min.css}" rel="stylesheet" />
    <link href="../static/css/ry-ui.css" th:href="@{/css/ry-ui.css?v=4.2.0}" rel="stylesheet" />

    <!-- 360浏览器急速模式 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}" />

</head>

<body>

    <body class="signin">
        <div class="signinpanel">
            <div class="row">
                <div class="col-sm-4">
                    <div class="signin-info">
                        <div class="logopanel m-b">
                            <h1><img alt="[提问箱 ]" src="../static/hhh.png" th:src="@{/hhh.png}"></h1>
                        </div>
                        <div class="m-b"></div>
                        <h4>欢 迎 使 用 <strong>提 问 箱</strong></h4>
                        <ul class="m-b">
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> SpringBoot</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Mybatis</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Shiro</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Thymeleaf</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Bootstrap</li>
                            <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 爆肝ing</li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-7">
                    <form id="loginForm" autocomplete="on">
                        <h4 class="no-margins">重 置 密 码：</h4>
                        <br>
                        <p class="m-t-md">Memento mori</p>

                        <label for="mail" class="sr-only">邮箱</label>
                        <input type="text" name="mail" id="mail" class="form-control uname" placeholder="请输入邮箱" />


                        <div id="erro"></div>
                        <div class="col-sm-8 mx-5 px-2">
                            <button class="btn btn-success btn-block" th:onclick="resetPassword()">发送密码重置链接</button>
                        </div>

                    </form>
                    <a href="/register" class="col-sm-5">
                        <button class="btn btn-success btn-block col-sm-4">立即注册&raquo;</button>
                    </a>

                </div>
            </div>
            <div class="signup-footer">
                <div class="pull-left">
                    &copy; 2020 All Rights Reserved. Letoo <br>
                </div>
            </div>
        </div>


        <!----------------------------------------------------------------------------------- -->
        <!-- text-muted: 柔和色
        添加版权 -->
        <!-- <footer class="text-center text-muted py-4">
        Copyright @Letoo 2020-05
    </footer>
 -->
        <!-- 验证插件 -->
        <script src="../static/ajax/libs/validate/jquery.validate.min.js"
            th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
        <script src="../static/ajax/libs/validate/messages_zh.min.js"
            th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
        <script src="../static/ajax/libs/layer/layer.js" th:src="@{/ajax/libs/layer/layer.js}"></script>
        <script src="../static/ajax/libs/blockUI/jquery.blockUI.js"
            th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
        <script src="../static//js/rrr/ry-ui.js" th:src="@{/js/rrr/ry-ui.js?v=4.2.0}"></script>
        <script src="../static/ajax/libs/validate/additional-methods.min.js"
            th:src="@{/ajax/libs/validate/additional-methods.min.js}"></script>

        <script type="text/javascript">
            function resetPassword() {
                var mail = $('#mail').val();
                $.ajax({
                    url: encodeURI("/resetPassword"),
                    type: "post",  //请求的方法
                    cache: false, //去除缓存
                    async: false,  //async:false同步。true异步方式
                    dataType: "json",  //指定响应得到的数据类型：【“list”必须严格为一个json数据！】
                    data: {  //data:$(form).serialize(),
                        "mail": mail,
                    },
                    success: function (result) {
                    	if(result.description != null){
                    		alert(result.description);
                    	}
                    	else if (result.code == 200) { //修改成功
                            layer.msg("邮件已发送，请注意查收！");
                            //alert("邮件已发送，请注意查收！");
                        } else if (result.code == 404) {
                            layer.msg("不存在此用户！");
                            //alert("用户名已存在！");
                        } else if (result.code == 500) {
                            layer.msg("邮件发送失败！");
                            //alert("修改失败！");
                        } 
                    },
                    error: function () {
                        alert(".......页面出错了.......");
                    }
                });
            }
            
        	//设置AJAX的全局默认选项
                $.ajaxSetup( {
                	type: "post",  //请求的方法
                	cache: false, //去除缓存
                    async: true,  //async:false同步。true异步方式
                    dataType: "json",  //指定响应得到的数据类型：【“list”必须严格为一个json数据！】
                    headers: { // 默认添加请求头
                        "uuidToken": '[[${session.uuidToken}]]',
                    } ,
                    error: function(jqXHR, textStatus, errorMsg){ // 出错时默认的处理函数
                        // jqXHR 是经过jQuery封装的XMLHttpRequest对象
                        // textStatus 可能为： null、"timeout"、"error"、"abort"或"parsererror"
                        // errorMsg 可能为： "Not Found"、"Internal Server Error"等

                        // 提示形如：发送AJAX请求到"/index.html"时出错[404]：Not Found
                        alert( '发送AJAX请求时出错[' + jqXHR.status + ']：' + errorMsg );        
                    }
                } );
        </script>


    </body>

</html>