<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 最新：利用本地js -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- 多平台显示 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 引入外部文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <title th:text="${sectionName}"></title>
</head>

<body>
    <div th:replace="~{header :: myheader}"></div>

    <main>
        <section class="py-5">
            <!-- 栅格系统 -->
            <div class="container-fluid">
                <div class="row pl-2">

                    <!-- 用户列表 -->
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ml-5">
                        <div class="row rounded-5 pt-1" style="background-color: lightblue;">
                            <svg class="bi bi-list-ul ml-4" width="2em" height="2em" viewBox="0 0 13 13"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5 11.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm-3 1a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd" />
                            </svg>
                            <h3 class="mx-2">
                                <span th:text="${sectionName}"></span>
                            </h3>
                        </div>
                        <hr />

                        <ul class="list-unstyled">
                            <li class="media my-4 ml-2 row" th:each="ques: ${list}">
                                <img src="../static/img/zdtp.jpg" class="media-left mr-3 img-round" alt="..."
                                    style="width: 38px;height: 38px;">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1" th:text="${ques.title}"></h5>
                                    <!-- <span class="caret" th:text="${data.user.username}"></span> -->
                                    <span style="font-size: 12px;color: #999;"
                                        th:text="'回答用户：'+ ${ques.UIDans} +'  提出时间：'+${ques._strTime}">
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    </span>
                                </div>
                                <!-- <a th:href="@{}/home/question?username=${user.username}&UID=${user.UID}"> -->
                                <a th:href="@{/home/myQuiz/content}">
                                    <button type="text" class="btn btn-outline-info px-2 mr-4" style="float:right">查看详情</button>
                                </a>
                            </li>
                        </ul>



                    </div>
                    <!-- 用户排行 -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pt-6 rounded-5" style="color: steelblue;">
                        <h4 class="ml-2">选 项</h4>
                        <div class="list-group">
                            <a href="/home/myQuiz" class="list-group-item list-group-item-action">我的提问
                                <span class="badge badge-primary badge-pill">14</span>
                            </a>
                            <a href="/home/myQuiz/isReply" class="list-group-item list-group-item-action"
                                th:class="${section == 'isReply'}? 'list-group-item list-group-item-action active':'list-group-item list-group-item-action'">已收到回复
                                <span class="badge badge-primary badge-pill">14</span>
                            </a>
                            <a href="/home/myQuiz/noReply" class="list-group-item list-group-item-action"
                                th:class="${section == 'noReply'}? 'list-group-item list-group-item-action active':'list-group-item list-group-item-action'">未收到回复
                                <span class="badge badge-primary badge-pill">14</span>
                            </a>
                            <!-- <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a> -->
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>








    <!----------------------------------------------------------------------------------- -->
    <!-- text-muted: 柔和色
        添加版权 -->
    <footer class="text-center text-muted py-4">
        &copy; 2020 All Rights Reserved. Letoo
    </footer>

</body>

</html>